.navigation-toggle {
}

.list-controls .nav-pills > li {
  border-radius: $radius-base;
  border-color: var(--gray-200);
  border-width: $border-width-base;

  .toggle-link {
    color: var(--gray-900);
  }
}

.list-controls .nav-pills .drop {
  top: 120%;
  border-radius: $radius-base;
  a {
    color: var(--gray-900);
  }

  a.active {
    color: var(--teal-400);
  }
}
