.d-header {
  box-shadow: none;
  border-bottom: 2px solid #eff1f4;
}

.d-header .wrap {
  max-width: none;
}

.d-header-icons {
  .d-icon {
    color: var(--gray-700);
    transition: color 0.25s ease;
  }
}

.discourse-no-touch .d-header-icons .icon:hover,
.discourse-no-touch .d-header-icons .icon:focus {
  background-color: transparent;
  color: var(--gray-600);
}
