.d-header {
  box-shadow: none;
  border-bottom: 2px solid #eff1f4;

  .wrap {
    max-width: none;
  }

  .header-buttons {
    order: 2;

    .sign-up-button {
      display: none;
    }

    .login-button {
      font-size: var(--font-up-1);
      border-radius: $radius-base;
    }
  }
}

.d-header-icons {
  .d-icon {
    color: var(--gray-700);
    transition: color 0.25s ease;
  }
}

.discourse-no-touch .d-header-icons .icon:hover,
.discourse-no-touch .d-header-icons .icon:focus {
  background-color: transparent;
  color: var(--gray-600);
}
