input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
textarea {
  border-radius: $radius-base;
  border-color: var(--gray-200);
  color: var(--gray-600);

  &::placeholder {
    color: var(--gray-500);
    font-weight: $font-weight-normal;
  }
}

.select-kit.combo-box .select-kit-header,
.select-kit.multi-select .multi-select-header {
  border-radius: $radius-base;
  border-color: var(--gray-200);

  .d-icon {
    color: var(--gray-400);
  }
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-right: 0.5rem;
  font: inherit;
  color: var(--gray-200);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--gray-200);
  border-radius: $radius-small;
  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 1.15em;
    height: 1.15em;
    border-radius: $radius-small;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    box-sizing: border-box;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}

input[type='checkbox']:checked {
  background: var(--teal-400);
  border-color: var(--teal-400);
  &::before {
    transform: scale(0.75);
  }
}

input[type='checkbox']:focus {
  outline: 2px solid var(--gray-200);
  outline-offset: 2px;
}

input[type='checkbox']:disabled {
  color: var(--gray-100);
  cursor: not-allowed;
}

.inline-edit label.checkbox-label {
  display: flex;

  + button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
