input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
textarea {
  border-radius: $radius-base;
  border-color: var(--gray-200);
  color: var(--gray-600);

  &::placeholder {
    color: var(--gray-500);
    font-weight: $font-weight-normal;
  }
}

.select-kit.combo-box .select-kit-header,
.select-kit.multi-select .multi-select-header {
  border-radius: $radius-base;
  border-color: var(--gray-200);

  .d-icon {
    color: var(--gray-400);
  }
}
