.navigation-container {
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .category-breadcrumb {
    flex: 0 0 100%;
  }
}

.categories-list .navigation-container {
  border-bottom: $border-width-base solid var(--gray-200);
}

// Category Breadcrumb inputs
.list-controls .combo-box .combo-box-header {
  border-radius: $radius-small;
  border-color: var(--gray-200);
  color: var(--gray-900);
  text-transform: capitalize;
  font-weight: $font-weight-normal;
}

// Navigation Pills
.nav-pills > li a {
  color: var(--gray-500);
  font-weight: $font-weight-normal;

  &.active {
    background-color: transparent;
    color: var(--gray-800);
  }

  &:hover {
    color: var(--teal-400);
    background-color: transparent;
  }
}
