:root {
  // COLORS:
  --teal-100: #effafd;
  --teal-200: #e5fbfb;
  --teal-300: #d3f6f6;
  --teal-350: #93e7e5;
  --teal-400: #00cbc6;

  --indigo-400: #3d5afe;
  --indigo-500: #5e6ad2;
  --indigo-200: #eae1fc;
  --indigo-100: #f2edfd;
  --pink-400: #ff5090;

  --gray-100: #f8f7ff;
  --gray-150: #eff1f4;
  --gray-200: #e4e3ec;
  --gray-300: #8999af;
  --gray-400: #5c6679;
  --gray-500: #888f97;
  --gray-550: #3c4149;
  --gray-600: #2b2d3b;
  --gray-700: #262735;
  --gray-800: #232432;
  --gray-900: #191927;

  // THEME ASSIGNMENTS:
  --sh-primary: var(--teal-400);
  --sh-secondary: var(--gray-300);
  --sh-white: #f8f7ff;
  --sh-solved: var(--indigo-100);
  --sh-solved-dark: var(--indigo-200);
}
