.badge-category .d-icon-lock {
  transform: scale(0.5);
}

.admin-container .control-unit .d-icon-link {
  transform: scale(0.7);
}

.topic-statuses .topic-status .d-icon {
  transform: scale(0.6) translateY(-0.5rem);
  margin-right: 0.25rem;
}

.select-kit.combo-box .select-kit-filter .filter-icon {
  transform: translate(-0.6rem, -0.25rem);
  margin-left: 1rem;
}

// d-header search and hamburger icons:
.drop-down-mode .d-header-icons .icon .d-icon {
  &.d-icon-bars,
  &.d-icon-search {
    transform: translateX(0.35rem);
  }
}

// search page search button icon
.full-page-search {
  .search-cta .d-icon {
    transform: scale(0.75) translate(-0.25rem, -0.25rem);
  }
}

// composer link icon
.d-editor-button-bar .btn .d-icon-link {
  transform: scale(0.6) translateY(-0.25rem);
}

// topic-list caret
.topic-list-header {
  .d-icon-chevron-down,
  .d-icon-chevron-up {
    transform: scale(0.7) translateY(-0.25rem);
  }
}

// composer collapse icon
#reply-control .reply-to .composer-controls .d-icon-chevron-down {
  transform: scale(0.8) translate(-3px, -2px);
}

// search box icon
.search-link .d-icon-search {
  transform: scale(0.7) translate(-0.5rem, -0.3rem);
}
