.category-boxes {
  justify-content: center;
  .category-box {
    // flex: 1 1 260px;
    min-width: 240px;
    max-width: 260px;
    min-height: 227px;
    border: $border-width-base solid var(--gray-200) !important;
    border-radius: $radius-base;
    transition: box-shadow 0.25s ease-in-out;

    .category-box-inner {
      padding: 1.5rem;
      border: none;

      .category-logo,
      .category-details {
        align-self: flex-start;
      }

      .category-details h3,
      .category-details .description {
        text-align: left;
      }

      .category-details .description {
        margin-top: 0.5rem;
      }
    }

    &:hover {
      box-shadow: 8px 8px 16px rgba(60, 65, 73, 0.2);
    }
  }
}

@media screen and (max-width: 500px) {
  .category-boxes {
    .category-box {
      border-radius: 11px;
      width: 100%;
      flex: 100%;
      max-width: 100%;
      min-height: unset;

      .category-box-inner {
        padding: 1rem;
        flex-flow: row nowrap;
        gap: 1rem;

        .category-logo {
        }

        .category-details {
          .category-box-heading {
            font-size: var(--font-down-1);
          }
          .description {
            width: 100%;
            font-size: var(--font-down-1);
          }
        }

        .category-logo .logo.aspect-image img,
        .logo.aspect-image img {
          --height: 70px;
          width: auto;
          max-width: unset;
        }
      }
    }
  }
}
