a.mention {
  background: var(--indigo-500);
  border-radius: $radius-small;
  color: var(--sh-white);
  font-weight: $font-weight-bold;
}

kbd,
p > code,
li > code,
pre > code {
  background: var(--teal-100);
  border-radius: $radius-base;
  border: none;
  color: var(--gray-500);
  font-family: $font-family-monospace;
  font-weight: $font-weight-normal;
  padding: 0.5em 1rem;
}

pre > code.lang-nohighlight {
  background: none;
  color: var(--pink-400);
  font-family: $font-family-monospace;
}

aside.quote {
  background: var(--gray-150);
  border-radius: $radius-base;
  border: 1px solid var(--gray-200);

  .title,
  blockquote {
    border-left: none;
    background: var(--gray-150);
    background: transparent;
  }

  .title {
    color: var(--gray-900);
    font-weight: $font-weight-normal;
    padding: 1rem;
    img {
      width: 35px;
    }
  }
}

.topic-post .topic-avatar {
  border-top: none;
}

.topic-post:first-of-type .topic-body {
  border-top: none;
}

.topic-body {
  padding: 1rem;
  border-top: 2px solid var(--gray-200);
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -1.5rem;
    height: 90%;
    width: 2px;
    background: var(--gray-200);
  }
}

.topic-status-info,
.topic-timer-info {
  border-top: none;
}

.small-action {
  border-top: none;
}

.small-action .small-action-desc.timegap {
  color: var(--gray-900);
  text-transform: lowercase;
  align-self: flex-start;
  transform: translateX(-7%);
}
